<form class="hide-ui-form" autocomplete="off">
   <div class="hide-ui-hint">
      <i class="fas fa-eye-slash"></i>
      <span>Check the items you want to <strong>hide</strong> from your own screen. Unchecked items will remain visible.</span>
   </div>
   <div class="hide-ui-options">

      {{!-- ── Navigation ─────────────────────────────────────────── --}}
      {{#if showNavigationSection}}
      <section class="hide-ui-section">
         <h3 class="hide-ui-section-header">
            <i class="fas fa-map"></i> Navigation
         </h3>
         {{#if canControl.hideNavigation.navToggle}}
         <div class="hide-ui-option">
            <label for="hideNavigation-navToggle">Navigation Toggle</label>
            <input type="checkbox" id="hideNavigation-navToggle" name="hideNavigation.navToggle"
               {{checked playerConfig.hideNavigation.navToggle}} />
         </div>
         {{/if}}
         {{#if canControl.hideNavigation.sceneList}}
         <div class="hide-ui-option">
            <label for="hideNavigation-sceneList">Scene List</label>
            <input type="checkbox" id="hideNavigation-sceneList" name="hideNavigation.sceneList"
               {{checked playerConfig.hideNavigation.sceneList}} />
         </div>
         {{/if}}
         {{#if renderBossBarOption}}
         {{#if canControl.hideNavigation.bossBar}}
         <div class="hide-ui-option">
            <label for="hideNavigation-bossBar">Boss Bar</label>
            <input type="checkbox" id="hideNavigation-bossBar" name="hideNavigation.bossBar"
               {{checked playerConfig.hideNavigation.bossBar}} />
         </div>
         {{/if}}
         {{/if}}
      </section>
      {{/if}}

      {{!-- ── Controls ─────────────────────────────────────────────── --}}
      {{#if canControl.hideControls}}
      <div class="hide-ui-option hide-ui-option--standalone">
         <label for="hideControls">
            <i class="fas fa-tools" style="margin-right:0.3rem;opacity:0.6"></i>
            Hide Controls Panel
         </label>
         <input type="checkbox" id="hideControls" name="hideControls"
            {{checked playerConfig.hideControls}} />
      </div>
      {{/if}}

      {{!-- ── Sidebar ───────────────────────────────────────────────── --}}
      {{#if showSidebarSection}}
      <section class="hide-ui-section">
         <h3 class="hide-ui-section-header">
            <i class="fas fa-columns"></i> Sidebar
         </h3>
         {{#if canControl.hideSideBar.chatLog}}
         <div class="hide-ui-option">
            <label for="hideSideBar-chatLog"><i class="fa-solid fa-comments"></i> Chat Messages</label>
            <input type="checkbox" id="hideSideBar-chatLog" name="hideSideBar.chatLog"
               {{checked playerConfig.hideSideBar.chatLog}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.chatInput}}
         <div class="hide-ui-suboptions hide-ui-suboptions--deep">
            <div class="hide-ui-option">
               <label for="hideSideBar-chatInput">Chat Input</label>
               <input type="checkbox" id="hideSideBar-chatInput" name="hideSideBar.chatInput"
                  {{checked playerConfig.hideSideBar.chatInput}} />
            </div>
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.combatTracker}}
         <div class="hide-ui-option">
            <label for="hideSideBar-combatTracker"><i class="fa-solid fa-swords"></i> Combat Encounters</label>
            <input type="checkbox" id="hideSideBar-combatTracker" name="hideSideBar.combatTracker"
               {{checked playerConfig.hideSideBar.combatTracker}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.scenesDirectory}}
         <div class="hide-ui-option">
            <label for="hideSideBar-scenesDirectory"><i class="fa-solid fa-map"></i> Scenes</label>
            <input type="checkbox" id="hideSideBar-scenesDirectory" name="hideSideBar.scenesDirectory"
               {{checked playerConfig.hideSideBar.scenesDirectory}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.placeables}}
         <div class="hide-ui-option">
            <label for="hideSideBar-placeables"><i class="fa-solid fa-puzzle-piece"></i> Placeables</label>
            <input type="checkbox" id="hideSideBar-placeables" name="hideSideBar.placeables"
               {{checked playerConfig.hideSideBar.placeables}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.actorsDirectory}}
         <div class="hide-ui-option">
            <label for="hideSideBar-actorsDirectory"><i class="fa-solid fa-user"></i> Actors</label>
            <input type="checkbox" id="hideSideBar-actorsDirectory" name="hideSideBar.actorsDirectory"
               {{checked playerConfig.hideSideBar.actorsDirectory}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.itemsDirectory}}
         <div class="hide-ui-option">
            <label for="hideSideBar-itemsDirectory"><i class="fa-solid fa-suitcase"></i> Items</label>
            <input type="checkbox" id="hideSideBar-itemsDirectory" name="hideSideBar.itemsDirectory"
               {{checked playerConfig.hideSideBar.itemsDirectory}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.journalEntries}}
         <div class="hide-ui-option">
            <label for="hideSideBar-journalEntries"><i class="fa-solid fa-book-open"></i> Journal</label>
            <input type="checkbox" id="hideSideBar-journalEntries" name="hideSideBar.journalEntries"
               {{checked playerConfig.hideSideBar.journalEntries}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.rollableTables}}
         <div class="hide-ui-option">
            <label for="hideSideBar-rollableTables"><i class="fa-solid fa-table-list"></i> Rollable Tables</label>
            <input type="checkbox" id="hideSideBar-rollableTables" name="hideSideBar.rollableTables"
               {{checked playerConfig.hideSideBar.rollableTables}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.cardStacks}}
         <div class="hide-ui-option">
            <label for="hideSideBar-cardStacks"><i class="fa-solid fa-cards"></i> Card Stacks</label>
            <input type="checkbox" id="hideSideBar-cardStacks" name="hideSideBar.cardStacks"
               {{checked playerConfig.hideSideBar.cardStacks}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.macros}}
         <div class="hide-ui-option">
            <label for="hideSideBar-macros"><i class="fa-solid fa-code"></i> Macros</label>
            <input type="checkbox" id="hideSideBar-macros" name="hideSideBar.macros"
               {{checked playerConfig.hideSideBar.macros}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.audioPlaylists}}
         <div class="hide-ui-option">
            <label for="hideSideBar-audioPlaylists"><i class="fa-solid fa-music"></i> Playlists</label>
            <input type="checkbox" id="hideSideBar-audioPlaylists" name="hideSideBar.audioPlaylists"
               {{checked playerConfig.hideSideBar.audioPlaylists}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.compendiumPacks}}
         <div class="hide-ui-option">
            <label for="hideSideBar-compendiumPacks"><i class="fa-solid fa-book-atlas"></i> Compendium Packs</label>
            <input type="checkbox" id="hideSideBar-compendiumPacks" name="hideSideBar.compendiumPacks"
               {{checked playerConfig.hideSideBar.compendiumPacks}} />
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.gameSettings}}
         <div class="hide-ui-option">
            <label for="hideSideBar-gameSettings"><i class="fa-solid fa-gears"></i> Settings</label>
            <input type="checkbox" id="hideSideBar-gameSettings" name="hideSideBar.gameSettings"
               {{checked playerConfig.hideSideBar.gameSettings}} />
         </div>
         <div class="hide-ui-suboptions hide-ui-suboptions--deep">
            {{#if canControl.hideSideBar.settingsContent.gameSettings}}
            <div class="hide-ui-option">
               <label for="hideSideBar-settingsContent-gameSettings">Game Settings</label>
               <input type="checkbox" id="hideSideBar-settingsContent-gameSettings"
                  name="hideSideBar.settingsContent.gameSettings"
                  {{checked playerConfig.hideSideBar.settingsContent.gameSettings}} />
            </div>
            {{/if}}
            {{#if canControl.hideSideBar.settingsContent.activeModules}}
            <div class="hide-ui-option">
               <label for="hideSideBar-settingsContent-activeModules">Active Modules</label>
               <input type="checkbox" id="hideSideBar-settingsContent-activeModules"
                  name="hideSideBar.settingsContent.activeModules"
                  {{checked playerConfig.hideSideBar.settingsContent.activeModules}} />
            </div>
            {{/if}}
            {{#if canControl.hideSideBar.settingsContent.tours}}
            <div class="hide-ui-option">
               <label for="hideSideBar-settingsContent-tours">Tour Management</label>
               <input type="checkbox" id="hideSideBar-settingsContent-tours"
                  name="hideSideBar.settingsContent.tours"
                  {{checked playerConfig.hideSideBar.settingsContent.tours}} />
            </div>
            {{/if}}
            {{#if canControl.hideSideBar.settingsContent.help}}
            <div class="hide-ui-option">
               <label for="hideSideBar-settingsContent-help">Help &amp; Documentation</label>
               <input type="checkbox" id="hideSideBar-settingsContent-help"
                  name="hideSideBar.settingsContent.help"
                  {{checked playerConfig.hideSideBar.settingsContent.help}} />
            </div>
            {{/if}}
         </div>
         {{/if}}
         {{#if canControl.hideSideBar.diceSoNice}}
         <div class="hide-ui-option">
            <label for="hideSideBar-diceSoNice"><i class="fa-solid fa-dice-d20"></i> Dice So Nice!</label>
            <input type="checkbox" id="hideSideBar-diceSoNice" name="hideSideBar.diceSoNice"
               {{checked playerConfig.hideSideBar.diceSoNice}} />
         </div>
         {{/if}}
      </section>
      {{/if}}

      {{!-- ── Players & Interface ──────────────────────────────────── --}}
      {{#if showPlayersSection}}
      <section class="hide-ui-section">
         <h3 class="hide-ui-section-header">
            <i class="fas fa-users"></i> Players &amp; Interface
         </h3>
         {{#if canControl.hidePlayers}}
         <div class="hide-ui-option">
            <label for="hidePlayers">Active Players List</label>
            <input type="checkbox" id="hidePlayers" name="hidePlayers"
               {{checked playerConfig.hidePlayers}} />
         </div>
         {{/if}}
         {{#if canControl.hidePlayerConfig}}
         <div class="hide-ui-option">
            <label for="hidePlayerConfig">Player Configuration Button</label>
            <input type="checkbox" id="hidePlayerConfig" name="hidePlayerConfig"
               {{checked playerConfig.hidePlayerConfig}} />
         </div>
         {{/if}}
      </section>
      {{/if}}

      {{!-- ── Hotbar ────────────────────────────────────────────────── --}}
      {{#if showHotbarSection}}
      <section class="hide-ui-section">
         <h3 class="hide-ui-section-header">
            <i class="fas fa-th"></i> Hotbar
         </h3>
         {{#if canControl.hideHotbar}}
         <div class="hide-ui-option">
            <label for="hideHotbar">Macro Hotbar</label>
            <input type="checkbox" id="hideHotbar" name="hideHotbar"
               {{checked playerConfig.hideHotbar}} />
         </div>
         {{/if}}
         {{#if renderCustomHotbarOption}}
         {{#if canControl.hideCustomHotbar}}
         <div class="hide-ui-option">
            <label for="hideCustomHotbar">Custom Hotbar</label>
            <input type="checkbox" id="hideCustomHotbar" name="hideCustomHotbar"
               {{checked playerConfig.hideCustomHotbar}} />
         </div>
         {{/if}}
         {{/if}}
      </section>
      {{/if}}

      {{!-- ── HUD ──────────────────────────────────────────────────── --}}
      {{#if showHudSection}}
      <section class="hide-ui-section">
         <h3 class="hide-ui-section-header">
            <i class="fas fa-dot-circle"></i> HUD
         </h3>
         {{#if canControl.hideTokenHUD}}
         <div class="hide-ui-option">
            <label for="hideTokenHUD">Token HUD</label>
            <input type="checkbox" id="hideTokenHUD" name="hideTokenHUD"
               {{checked playerConfig.hideTokenHUD}} />
         </div>
         {{/if}}
         {{#if renderTokenActionHudOption}}
         {{#if canControl.hideTokenActionHUD}}
         <div class="hide-ui-option">
            <label for="hideTokenActionHUD">Token Action HUD</label>
            <input type="checkbox" id="hideTokenActionHUD" name="hideTokenActionHUD"
               {{checked playerConfig.hideTokenActionHUD}} />
         </div>
         {{/if}}
         {{/if}}
      </section>
      {{/if}}

   </div>

   <footer class="hide-ui-form-footer">
      <button type="button" data-action="toggleAll">
         <i class="fas fa-check-double"></i> Toggle All
      </button>
      <button type="submit">
         <i class="fas fa-save"></i> Save Changes
      </button>
   </footer>
</form>
